{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase" href="{% url 'create_a_booking' %}">Create a booking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}


<section class="page-section cta wooden-back">
  <div class="container ">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class=" row cta-inner bg-faded text-center rounded">
          
          {% for booking in bookings %}
            {% if booking.primary_guest.id == request.user.id %}
              <div class="col-md-9 row  centre-cards full-screen">
                <div class="card mb-4 ml-6 ">
                    <div class=" card-body ">
                      <a href="{% url 'booking_details' booking.slug %}" class="review-link">
                        <h3>Booking date : {{ booking.booking_date}}</h3>
                        <p>
                          Meal time :
                          {% if booking.Meal_time == 0 %}
                          <span>No time Specified, please call reception</span>
                          {% elif booking.Meal_time == 1 %}
                          <span>10:00</span>
                          {% elif booking.Meal_time == 2 %}
                          <span>11:00</span>
                          {% elif booking.Meal_time == 3 %}
                          <span>12:00</span>
                          {% elif booking.Meal_time == 4 %}
                          <span>13:00</span>
                          {% elif booking.Meal_time == 5 %}
                          <span>14:00</span>
                          {% elif booking.Meal_time == 6 %}
                          <span>15:00</span>
                          {% elif booking.Meal_time == 7 %}
                          <span>16:00</span>
                          {% elif booking.Meal_time == 8 %}
                          <span>17:00</span>
                          {% elif booking.Meal_time == 9 %}
                          <span>18:00</span>
                          {% endif %}
                        </p>
                      </a>
                      <hr />
                      <p class="card-title">
                        booking status :
                        {% if booking.booking_status == 0 %}
                        <span>Pending</span>
                        {% elif booking.booking_status == 1 %}
                        <span>Approved</span>
                        {% else %}
                        <span>Completed</span>
                        {% endif %}
                      </p>
                      <p>Booking created by: {{ booking.primary_guest }}</p>
                      <p>Number of guests = {{ booking.number_of_guests  }} </p>
                      <p class="card-text">Dietary notes: {{ booking.dietary_notes }}</p>
                      <p class="card-text">Additional comments: {{ booking.additional_comments }}</p>
                      <p>booking id = {{ booking.id  }} </p>
                      <h1>{{booking.pk}} , {{booking.slug}}</h1>
                      <hr />
                      <p class="card-text text-muted h6">Booking created on = {{ booking.booking_created_on}} <i
                          class="far fa-heart"></i>
                        {{ booking.id }}</p>
                    </div>                  
                </div>
              {% if forloop.counter|divisibleby:3 %}
              </div>
              <div class="col-xl-9 row centre-cards full-screen">
              {% endif %}

            {% else %}
            <!-- <h1>You have no current bookings</h1> -->
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </div>
      {% if is_paginated %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
          {% endif %}
          {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
</section>









{% endblock %}