{% extends 'base.html' %} 

{% block content %}

{% load crispy_forms_tags %}
        <div class="container centre-text">
            <div class="row centre-text">
                <div class="col card mb-4  mt-3 top wooden-back">
                    <div class="card-body centre-text">
                        <div class="col-md-12  ">

                            <h2>
                                Booking Date: {{ booking.booking_date | date:"d M, Y"}}
                            </h2>                        
                            <h2>
                                Meal time :
                            {% if booking.Meal_time == 0 %}
                            <span>No time Specified, please call reception</span>
                            {% elif booking.Meal_time == 1 %}
                            <span>10:00</span>
                            {% elif booking.Meal_time == 2 %}
                            <span>11:00</span>
                            {% elif booking.Meal_time == 3 %}
                            <span>12:00</span>
                            {% elif booking.Meal_time == 4 %}
                            <span>13:00</span>
                            {% elif booking.Meal_time == 5 %}
                            <span>14:00</span>
                            {% elif booking.Meal_time == 6 %}
                            <span>15:00</span>
                            {% elif booking.Meal_time == 7 %}
                            <span>16:00</span>
                            {% elif booking.Meal_time == 8 %}
                            <span>17:00</span>
                            {% elif booking.Meal_time == 9 %}
                            <span>18:00</span>
                            {% endif %}
                            </h2> 
                            <hr />
							<p class="card-title">
								booking status :
								{% if booking.booking_status == 0 %}
								<span>Pending</span>
								{% elif booking.booking_status == 1 %}
								<span>Approved</span>
								{% else %}
								<span>Completed</span>
								{% endif %}
							</p>
							<p>Booking created by: {{ booking.primary_guest }}</p>
                            <p >Primary Guest Name: {{ booking.primary_guest.first_name }} {{ booking.primary_guest.last_name }} </p>                
							<p>Number of guests = {{ booking.number_of_guests  }} </p>
							<p class="card-text">Dietary notes: {{ booking.dietary_notes }}</p>
							<p class="card-text">Additional comments: {{ booking.additional_comments }}</p>
							<p>booking id = {{ booking.id  }} </p>
							<hr />
							<p class="card-text text-muted h6">Booking created on = {{ booking.booking_created_on}} </p>                       
                            
                        </div>
                        
                        <div>
                            <div>
                                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'edit_booking' booking.pk %}">EDIT BOOKING</a></div>
                                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl red" href="{% url 'delete_booking' booking.pk %}">DELETE BOOKING</a></div>                                                                                         
                            </div>                    
                        </div>
                    </div>
                </div>                           
            </div>
        </div>

{% endblock content %}