{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}


<section class="page-section cta">
  <div class="container">
     <div class="row"> 
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
            
            
            <h2>Update Booking:</h2>
            
            <form  method="POST" style="margin-top: 1.3em;">
              {% if message %}
              <h6>{{ message }}.</h6> 
              {% endif %}
                       
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-xl" >UPDATE</button> 
            </form> 
             

            
            
            
        </div>
      </div>
    </div>
  </div>
</section>









    {% endblock %}