{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}


<section class="page-section cta">
  <div class="container">
     <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
            
            {% if new_review %}
            <h2 id="msg">Thank you for your review, your review will be published shortly. </h2>
            <div>
              <h2>Review Content</h2>
                  <h3> Review Title:  {{ title }}</h3>
                  <h3> Review Content:  {{ content }}</h3>
                  <h3> Review {{ featured_image }}</h3>
                  <h3> 4 {{ excerpt }}</h3>
                  <h3> 5 user id = {{ user.id }}</h3>
                  <h3>6 {{ new_review }}</h3>
              </div> 
            {% else %}
            <h2>Create a Review:</h2>
            <form  method="POST" style="margin-top: 1.3em;">  
                          
                {{ form | crispy }}
                
                {% csrf_token %}
                
                  <button type="submit" class="btn btn-primary btn-xl" >Submit</button> 
                
                              
            </form> 
            {% endif %}   

            
            
            
        </div>
      </div>
    </div>
  </div>
</section>









    {% endblock %}