{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Fine-Wine-n-Dine Restaurant" />
    <meta name="author" content="" />
    <title>Fine-wine-n-Dine @ Nanny's of Duleek</title>    
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <script src="https://kit.fontawesome.com/41b937922a.js" crossorigin="anonymous"></script> 
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
       
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body style="background-image: url('{% static 'images/main-bg.jpeg' %}');">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 logo-div ">
            <div class="container " >
                <button class="navbar-toggler nav-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="outer-area top">                    
                    <div class="collapse navbar-collapse topnav" id="navbarSupportedContent">
                        <div class="float-left">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/nannys-logo.JPG' %}" alt="Nannys of duleek logo" class="nannys-logo">
                        </a>
                        </div>
                        <ul class="navbar-nav mx-auto">                    
                            {% if user.is_authenticated %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'account_logout' %}"><i class="fas fa-door-open">  Logout</i></a></li> 
                            <li class="nav-item px-lg-4" ><a class="text-uppercase" href="{% url 'profile' %}"><i class="fas fa-user"> Logged in as: {{ user.username }}</i></a></li>
                            {% if user.is_superuser %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'admin_bookings' %}"><i class="fas fa-book-open">  Admin Bookings</i></a><li> 
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'admin' %}"><i class="fas fa-pen">  Admin Panel</i></a><li> 
                            {% endif %}
                            {% else %}
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'sign_up' %}"><i class="fas fa-pen">  Register</i></a></li>
                            <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'account_login' %}"><i class="fas fa-user">  Login</i></a></li>             
                            {% endif %}
                        </ul>
                    </div>
                </div> 
            </div>
        </nav> 
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Fine-wine-n-Dine @ Nanny's of Duleek</span>
            <span class="site-heading-lower">Modern fine dining</span>
        </h1>
    </header>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4  " id="mainNav">
        <div class="container " >
            <div class="outer-area">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">                    
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'home' %}"><i class="fas fa-home">   home </i></a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase" href="{% url 'bookings' %}"><i class="fas fa-book-open ">  Bookings</i></a>
                        </li>
                        {% else %}                
                        {% endif %}                                             
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'reviews' %}"><i class="fas fa-comment">  Reviews</i></a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'menu' %}"><i class="fas fa-utensils"> Menu</i> </a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'gallery' %}"><i class="fas fa-photo-video">  Gallery</i></a></li>   
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'about' %}"><i class="fas fa-phone">  Contact & About Us</i></a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'opening_hours' %}"><i class="fas fa-clock"> Opening hours</i></a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main class="flex-shrink-0 main-bg">
        {% block content %}

        {% endblock content %}
    </main>


    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <h3 id="social-text">Follow us on social media for all the latest news and specials!</h3>
            <div class="social-outer">
                
                <div class="social-square"><a href="https://www.instagram.com/nannysofduleek/" target="_blank"><i class="fa fa-instagram"></i></a></div>
                <div class="social-square"><a href="https://m.facebook.com/Nannysofduleek/photos/a.111039901319148/136734105416394/" target="_blank"><i class="fa fa-facebook"></i></a></div>
                <div class="social-square"><a href="https://twitter.com/home?lang=en" target="_blank"><i class="fa fa-twitter"></i></a></div>
                <div class="social-square"><a href="https://www.snapchat.com/" target="_blank"><i class="fa fa-snapchat"></i></a></div>
            </div>
            
            
            <h4 >Copyright Fine-Wine-n-Dine @ Nanny's       est.    2022</h4>
        </div>
    </footer>
    <!-- Font Awesome -->
   
    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="js/scripts.js"></script> -->
    <script src="{% static 'js/script.js' %}"></script>
    
</body>

</html>