{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4">
          <a class="nav-link text-uppercase" href="{% url 'create_a_booking' %}">Create a booking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% else %}
{% endif %}


<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
          
            <!-- {% if booking_status == 1 %} -->
          {% for booking in bookings %}
            <div class="col-md-4">
              <div class="card mb-4 ml-6 ">
                <a href="#">
                  <div class="card-body ">
                    
                    <a href="#" class="review-link">
                      <h2 class="card-title">{{ booking.booking_status }}</h2>
                      <p class="card-text">{{ booking.additional_comments }}</p>
                    </a>
                    <hr />
                    <p class="card-text text-muted h6">{{ booking.booking_created_on}} <i class="far fa-heart"></i>
                      {{ booking.id }}</p>
                  </div>
                </a>
              </div>
            </div>


          {% endfor %}

          
<!-- 
          {% else %}

          <h1>You have no current bookings</h1>
          <div>
            <h1>{{ name }}</h1>
            <h1>{{ booking_status }}</h1>
            <h1>{{ number_of_guests }}</h1>
            <h1>slug = {{ slug }}</h1>
            <h1>{{ email }}</h1>
            <h1>{{ dietary_notes }}</h1> 
            <h1>{{ booking_id }}</h1>   
        </div>

          {% endif %} -->






        </div>
      </div>
    </div>
  </div>
</section>









{% endblock %}