{% extends "base.html" %}


{% block content %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/nannys-front.JPG' %}"
                alt="Nanny's of Duleek front" />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Hot Food Served Daily</span>
                    <span class="section-heading-lower">A La Carte</span>
                </h2>
                {% if user.is_authenticated %}  
                <p class="mb-3">We pride ourselves on delivering you the finest foods 
                    at a reasonable price. All our foods are prepared and cooked in-house by our 
                    award winning chef. Click the link below to create a booking now!</p>
                              
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'create_a_booking' %}">Create a Booking</a></div>
                {% else %}
                <p class="mb-3">We pride ourselves on delivering you the finest foods 
                    at a reasonable price. All our foods are prepared and cooked in-house by our 
                    award winning chef. Click the link below to sign up and log in to create a booking today!</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'sign_up' %}">Sign Up</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            
            <div class="intro-text2 right-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Nanny's kick-off</span>
                    <span class="section-heading-lower">SPORTS BAR</span>
                </h2>
                <p class="mb-3">In our sports bar you will find 12 widescreen televisions 
                    showing all the latest matches, racing and MMA! We also have a pool table, 
                    darts board with darts tournaments weekly. Pop in today to register for darts or call
                    to sign up today!
                </p>
                
            </div>
            
            <img class="intro-img-3 img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/pool-room.jpg' %}"
                alt="Nanny's of Duleek front" />
            
        </div>
               
    </div>
</section>
<section class="page-section clearfix mt-3">
    <div class="container ">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/cocktail-bar.jpg' %}"
                alt="Nanny's of Duleek front" />
                <div class="intro-text right-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Nanny's Mixers</span>
                        <span class="section-heading-lower">COCKTAIL BAR</span>
                    </h2>
                    <p class="mb-3">We have invested in the latest technology in our newly established bar and we are proud to 
                        offer the finest selection of cocktails in our cocktail bar!</p>
                    
                </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Promise</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">When you walk into our establishment,
                        we are dedicated to providing you with friendly service, a
                        welcoming atmosphere, and above all else, excellent products
                        made with the highest quality ingredients. If you are not satisfied,
                        please let us know and we will do whatever we can to make things right!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}