{% extends "base.html" %}

{% load static %}
{% block content %}

<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 nannys-logo" src="{% static 'images/nannys-logo.JPG' %}"
            alt="nanny's logo" />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">All about Nanny's</span>
                            <span class="section-heading-lower">A little about us:</span>
                        </h2>
                        <p>Founded in 2022 by the Lynch Family, our establishment is delighted to bring a
                            new lease of life to the rural village of duleek. We are a local family with numerous
                            local business's and when the chance to buy a local landmark such as this came up, 
                            It couldn't be passed.</p>
                        <p>
                            We took on the massive project to renovate, upgrade and modernise the existing building
                            and used all the tools at our disposal, bringing work to the local community in many different
                            areas. We employed local, bought local materials and kept within the community for all our building needs.
                            We are very proud of all the hard work and effort put in by all the locals who joined the project
                            and as a little thank you, all the workers involved got the opportunity to engrave their initials 
                            into the brickwork which will be there forever more. 
                        </p>
                        <hr>
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">All about Nanny's</span>
                            <span class="section-heading-lower">The Nanny's Name:</span>
                        </h2>
                        <p>
                            We held a competition just before the opening date and asked all the locals to put forward what they 
                            thought would be an appropriate name for our fine establishment, a few good names were put forward
                             and then one name suddenly stuck "Nanny's". When it's meant to be it will be, when the name nanny's 
                             was put forward we were in the local maternity hospital after our daughter gave birth to our first grandchild
                             and I had just become a nanny myself. The resoning behind the naming was due to the river nanny which runs through
                             Duleek, however with the recent turn of events it was as if fate brought us together so Nanny's was the name to be.
                             Credit where credit is due to Jessica Cummins of Ashvale court for the fine name so Thanks!
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 nannys-logo" src="{% static 'images/nannys-logo.JPG' %}"
            alt="nanny's logo" />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <hr>
                            <span class="section-heading-upper">Our Contact Details</span>
                            <hr>
                        </h2>
                        <p>
                            <strong>Contact number: </strong> <br>
                            041-98555 <br>
                            Fax number: <br>
                            041-98551
                        </p>
                        <hr>
                        <p>
                            <strong>Our Postal Address:</strong> <br>
                            Nanny's of Duleek,<br>
                            KnockIsland,<br>
                            Duleek,<br>
                            Co.Meath <br>
                        </p>                        
                        <hr>
                        <p>
                           <strong>Email:</strong>  <br>
                            bookings@nannysofduleek.ie <br>
                            reception@nannysofduleek.ie
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="map">
    <div class="container">
        <div class="mapouter">
            <div class="gmap_canvas mx-auto">
                <iframe  id="gmap_canvas"
                    src="https://maps.google.com/maps?q=nannys%20of%20duleek&t=k&z=17&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
                
                
            </div>
        </div>
    </div>
</section>

{% endblock content%}