{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid ">
    
    <div class="photos">
          
        {% for review in review_list %}                       
        <div>                                
            {% if "placeholder" in review.featured_image.url %}
            <img class="gallery-pic"
                src="{% static 'images/food-critic.jpg' %}">
            
            {% else %}
            <img class="gallery-pic" src="{{review.featured_image.url}}" alt="{{ review.exerpt }}">
            {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        </div>
        <div>
        {% endif %}
        </div> 
        {% endfor %}
                                               
                          
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %} 
</div>


{% endblock content%}