{% extends "base.html" %}


{% block content %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-upper">Restaurant</span>
                        <span class="section-heading-lower">Opening Hours</span>
                    </h2>
                    <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Sunday
                            <span class="ms-auto">09:30 AM to 17:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Monday
                            <span class="ms-auto">11:00 AM to 17:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Tuesday
                            <span class="ms-auto">11:00 AM to 17:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Wednesday
                            <span class="ms-auto">11:00 AM to 17:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Thursday
                            <span class="ms-auto">11:00 AM to 17:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Friday
                            <span class="ms-auto">11:00 AM to 18:00 PM</span>
                        </li>
                        <li class="list-unstyled-item list-hours-item d-flex">
                            Saturday
                            <span class="ms-auto">09:30 AM to 17:00 PM</span>
                        </li>
                    </ul>
                    <p class="address mb-5">
                        <em>
                            <strong>Nanny's Of Duleek</strong><br>                          
                            <strong>Knockisland,</strong><br/>                           
                            <strong>Newtown Commons,</strong><br/>                            
                            <strong>Duleek,</strong><br/>
                            <strong>Co. Meath.</strong><br/> 
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>Contact number</em></small>
                        <br />
                        (046) 981-12345
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content%}