{% extends "base.html" %}

{% load crispy_forms_tags %

{% block content %}

    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded  rounded">
                        <h1 class="text-center"><i class="fas fa-user"> </i> User Profile Details for {{user.username}}</h1>  
                        <hr>         
                            <h3>Username : {{ user.username }} </h3>
                            <h3>First Name : {{ user.first_name }} </h3>
                            <h3>Last Name : {{ user.last_name }} </h3>
                            <h3>Email : {{ user.email }} </h3>
                            <h3>User id : {{user.id}} </h3>
                        <hr> 
                        <div>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="{% url 'edit_profile' %}">EDIT PROFILE</a></div>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl red" href="{% url 'delete_profile' user.pk %}">DELETE ACCOUNT</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}