{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}


<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner bg-faded text-center rounded">
            <h1>this is create review page</h1>
            <form method="post" style="margin-top: 1.3em;">
                {{ review_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-xl" >Submit</button>                    
            </form>






            <form method="post" action="/weekly/" class="needs-validation">
              {% csrf_token %}
          <h4 class="mb-3">Billing address</h4>
              <div class="row">
              <div class="col-md-6 mb-3">
                  <label for="firstName">First name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" required>
                  <div class="invalid-feedback">
                  Valid first name is required.
                  </div>
              </div>
              <div class="col-md-6 mb-3">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                  Valid last name is required.
                  </div>
              </div>
              </div>

              <div class="mb-3">
              <label for="username">Username</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" id="username" placeholder="Username" required>
                  <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                  </div>
              </div>
              </div>
          <div class="mb-3">
              <label for="sub_type">Subscription Type</label>
              <select class="custom-select d-block w-100" id="sub_type" required>
                  <option value="">Choose...</option>
                  <option>Weekly $ Free</option>
                  <option>Monthly $10</option>
                  <option>Annual $100</option>
              </select>
              <div class="invalid-feedback">
                  Please select a valid Subscription.
              </div>
              </div>
              <div class="mb-3">
              <label for="email">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
              </div>
              </div>

              <div class="mb-3">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                  Please enter your shipping address.
              </div>
              </div>

              <div class="mb-3">
              <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
              </div>

              <div class="row">
              <div class="col-md-4 mb-3">
                  <label for="state">State</label>
                  <select class="custom-select d-block w-100" id="state" required>
                  <option value="">Choose...</option>
                  <option>Auckland</option>
                  <option>Christchurch</option>
                  </select>
                  <div class="invalid-feedback">
                  Please select a valid country.
                  </div>
              </div>
              <div class="col-md-5 mb-3">
                  <label for="country">Country</label>
                  <select class="custom-select d-block w-100" id="country" required>
                  <option value="">Choose...</option>
                  <option>New Zealand</option>
                  </select>
                  <div class="invalid-feedback">
                  Please provide a valid City.
                  </div>
              </div>
              <div class="col-md-3 mb-3">
                  <label for="zip">Postcode</label>
                  <input type="text" class="form-control" id="zip" placeholder="" required>
                  <div class="invalid-feedback">
                  Postcode required.
                  </div>
              </div>
              </div>
              <button type="submit" class="btn btn-primary btn-xl" >Submit</button> 
      </form>        
      


            
            
        </div>
      </div>
    </div>
  </div>
</section>
    {% endblock %}















    {% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} Submit a job {% endblock %}
{% comment %} https://stackoverflow.com/questions/50028673/changing-active-class-in-bootstrap-navbar-not-staying-in-inherited-django-templa {% endcomment %}
{% block nav_item_post_a_job %}active{% endblock nav_item_post_a_job %}
{% block head %}
    {{ job_listing_form.media.css }}
    <!---
    <style>
        input, select {width: 100%}
    </style>
    --->
{% endblock %}
{% block content %}

{% comment %}
https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html
{% endcomment %}

    <h1>Submit a job listing</h1>
    <div class="container">
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row text-center">
            <h2> <b>Job listing information</b> </h2>
          </div>
          <br />
          <div class="row text-center">
            <p> <b>Note: Fields marked with an asterisk (*) are required</b> </p>
          </div>
          <br/>
          {% for field in job_listing_form.visible_fields %}
            <div class="form-group">
              <div class="row">
                <p>{{ field.label_tag }}{{ field.field.required|yesno:"*," }}</p>
              </div>
              <div class="row">
                {% if field.help_text %}
                  <p class="form-text text-muted">{{ field.help_text }}</p>
                {% endif %}
              </div>
              <div class="row">
                {{ field }}
                <p> {{ field.errors }} </p>
                {% if field.errors %}
                  <div class="border-bottom-danger">
                      {{ field.errors }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <br/>
          <div class="row text-center">
            <h2> <b>Employer information</b> </h2>
          </div>
          <br />
          <div class="row text-center">
            <p> <b>Note: Fields marked with an asterisk (*) are required</b> </p>
          </div>
          <br/>
          {% for field in employer_form.visible_fields %}
            <div class="form-group">
              <div class="row">
                <p>{{ field.label_tag }}{{ field.field.required|yesno:"*," }}</p>
              </div>
              <div class="row">
                {% if field.help_text %}
                  <p class="form-text text-muted">{{ field.help_text }}</p>
                {% endif %}
              </div>
              <div class="row">
                {{ field }}
              </div>
            </div>
          {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary" />
      </form>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      {{ job_listing_form.media.js }}
    </div>
{% endblock %}




forms.py (do these names have to match the 'id' in the HTML doc?)

class SubscriptionForm(forms.ModelForm):
    class Meta:
        model = Subscription
        fields = [
            'firstName',
            'lastName',
            'username',
            'sub_type',
            'email',
            'address',
            'address2',
            'state',
            'country',
            'zip',
            'same_address',
            'save_info',
            'credit',
            'debit',
            'paypal',
            'cc_name',
            'cc_number',
            'cc_expiration',
            'cc_cvv',
        ]







        models.py (do these names have to match the 'id' in the HTML doc?)

        class Subscription(models.Model):
            firstName = models.CharField(max_length=100)
            lastName = models.CharField(max_length=100)
            username = models.CharField(max_length=100)
            sub_type = models.CharField(max_length=50)
            email = models.EmailField(max_length=100)
            address = models.CharField(max_length=100)
            address2 = models.CharField(max_length=100)
            state = models.CharField(max_length=100)
            country = models.CharField(max_length=100)
            zip = models.CharField(max_length=10)
            same_address = models.BooleanField()
            save_info = models.BooleanField()
            credit = models.BooleanField()
            debit = models.BooleanField()
            paypal = models.BooleanField()
            cc_name = models.CharField(max_length=100)
            cc_number = models.CharField(max_length=20)
            cc_expiration = models.CharField(max_length=10)
            cc_cvv = models.IntegerField()
        
            def __str__(self):
                return f'{self.firstName} {self.lastName} {self.sub_type}'









                urls.py

                path('weekly/', user_views.weekly, name='weekly'),
                views.py
                
                def weekly(request):
                    if request.method == 'POST':
                        form = SubscriptionForm(request.POST)
                        print('I got this far 3!')
                        if form.is_valid():
                            form.save()
                            messages.success(request, 'Thank you for your payment!')
                            return redirect('classes')
                        else:
                            return render(request, 'clubex/weekly.html', {'title': '1 Week Free'})
                    else:
                        return render(request, 'clubex/weekly.html',  {'title': '1 Week Free'})







class SubscriptionForm(forms.ModelForm):
    firstName = forms.CharField(
        required=True,
        label="First Name",
        widget=forms.TextInput( attrs = {
                'type':"text",
                'placeholder':"First name",
                'class':'form-control', # html input class
        })    
    )

    sub_type = forms.ChoiceField(
        required=True,
        label="Subscription Type",
        choices= (
            ('Option 1', 'Choose'),
            ('Option 2', 'Weekly $ Free'),
            ...
        ),
        widget=forms.Select( attrs = {
            'class':'your-css-class'
        })
    )

    ...
pass the form to your html

def weekly_get(request):
    form = SubscriptionForm()
    return render('weekly.html',{'form':form })
then, your html

<form method="post" action="/weekly/" class="needs-validation">
{% csrf_token %}
    
{% for field in form %}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{field.label_tag}}
            {{field}}
        </div>
    </div>
{% endfor %}

</form>





<!-- 
 #################################################################### -->


 class SubscriptionForm(forms.ModelForm):
    firstName = forms.CharField(
        required=True,
        label="First Name",
        widget=forms.TextInput( attrs = {
                'type':"text",
                'placeholder':"First name",
                'class':'form-control', # html input class
        })    
    )

    sub_type = forms.ChoiceField(
        required=True,
        label="Subscription Type",
        choices= (
            ('Option 1', 'Choose'),
            ('Option 2', 'Weekly $ Free'),
            ...
        ),
        widget=forms.Select( attrs = {
            'class':'your-css-class'
        })
    )

    ...
pass the form to your html

def weekly_get(request):
    form = SubscriptionForm()
    return render('weekly.html',{'form':form })
then, your html

<form method="post" action="/weekly/" class="needs-validation">
{% csrf_token %}
    
{% for field in form %}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{field.label_tag}}
            {{field}}
        </div>
    </div>
{% endfor %}

</form>
